/**
 *
 * eeeee eeeee eeeee  e   e
 * 8   " 8   8 8   8  8   8
 * 8eeee 8eee8 8eee8e 8eee8e
 *    88 88  8 88   8 88   8
 * 8ee88 88  8 88   8 88   8
 *
 * © Copyright 2013, 2022 Ian Eure.
 * Author: Ian Eure <ian.eure@gmail.com>
 */

#help img {
    float: right;
    margin: 0 0 1em 1em;
}

#results a {
    display: block;
}

.clear {
    clear: right;
}

.is-hoverable.is-striped tbody tr:not(.is-selected):hover {
    background-color: #fafafa;
}

.is-hoverable.is-striped tbody tr:not(.is-selected):hover:nth-child(even) {
    background-color: whitesmoke;
}

.is-striped > *:not(.is-selected):nth-child(even) {
    background-color: #fafafa;
}

.nil {
    opacity: .5;
}
